/**
 * BTS - CUSTOM CSS
 * @created by fadilah ajiq surya
 **/

.color-white {
    color: #fff !important;
}
.color-primary {
    color: #31afb4 !important;
}
.bg-primary {
    background-color: #31afb4 !important;
}
.home-timer-event-bg {
    background: url(../images/bg-underwater.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0.6;
    height: 100%;
    position: absolute;
}
.home-timer-event-content {
    height: 100%;
    position: absolute;
}
#timer {

}
#timer .time, #timer .time span {
    color: #fff;
}

.logo {
    max-width: auto;
    max-height: 70px;
    padding: 5px; 
}
.bgsize-auto {
    background-size: auto;
}
.heading-section .subheading {
    margin-bottom: 0 !important;
}
.ftco-section {
    padding: 3em 0;
}
.testimony-wrap .line:after {
    background: #CB2027;
}
.img-2 .icon {
    background: #CB2027;
}
.product {
    border: 1px solid #31afb4;
}
.product .ribbon {
    position: absolute;
    top: -11px;
    width: 219px;
    left: -10px;
    padding: 10px;
    color: #fff;
    background-size: contain !important;
    background: url(../images/fish/bts-ribbon.png) no-repeat;
    height: auto;
    z-index: 1;
}

.outer-img-gallery {
    position: relative;
    overflow: hidden;
    max-height: 230px;

}.outer-img-gallery img {

}

.product-more-hover {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
hr {
    margin: 0.1em 0;
}

.section-our-market {
    padding: 2em 0;
}
.img-find-us {
    
}

/* Footer */
.ftco-footer {
    background: url(../images/bg-underwater.png) no-repeat !important;
    background-size: cover !important;
    background-position: bottom !important;
}
.footer-logo {
    max-width: 150px;
    height: auto;
    padding: 5px; 
}
.ftco-footer .ftco-footer-widget ul.footer-menu li {
    background: rgb(55 195 200 / 50%);
    padding: 0 0.5em;
}
.ftco-footer .ftco-footer-widget h2, .ftco-footer .ftco-footer-widget ul li a, .ftco-footer .ftco-footer-widget p, .ftco-footer .ftco-footer-widget span {
    color: #fff;
}
.ftco-footer .ftco-footer-widget h2 {
    border-bottom: 1px solid #fff;
}
.ftco-footer-social li a {
    background: rgb(255 255 255);
}

/* Owl Carouse */
#multiple-product-section {
    background: url(../images/fish/rsz_113982650_8.jpg);
    background-size: cover;
    background-position: center bottom;
    padding: 3em;
}
#multiple-product-slider {
    margin-top: 20px;
    margin-bottom: 20px;
}
.multiple-product-slider-img-wrap {
    border: 4px solid #fff;
    max-width: 350px;
    height: 200px;
    overflow: hidden;
}